body, html{
  background-color: #000000;
  padding: 0px;
  margin: 0px;
  background-image: url('textured-bg.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;

}

@font-face {
  font-family: EditorialNew;
  src: url(EditorialNew-Ultralight.otf);
}

.mainContainer {
  font-family: EditorialNew;
  color: white;
  line-height: 0.02vmin;
  font-size: 20vmin;
  transform: rotate(270deg);
  transform-origin: 36% 100%;
  margin-top: 145px;
  margin-left: 120px;
  height: 200px;
  padding-right: 30vmin;

}

.column{
  display: flex;
  justify-content:flex-end;
  flex-direction: row;
  width: 700px;
  height: 180px;
  padding-right: 5vmin;

}

.lastColumn{

padding-left: 7vmin;

}

.so {
transform: rotate(90deg) skewY(335deg);
font-size: 15vmin;
padding: 10vmin 0px 0px 15vmin;
}

.of{
  transform: skew(340deg, 230deg) scaleY(2);
  font-size: 10vmin;
  padding: 8vmin 5vmin 25vmin 0vmin;

}

.column:first-of-type{
  padding-left: 18vmin;
}
